@model List<JustManAdmin.Models.Article>
@{
    ViewData["Title"] = "Articles";
}
<a asp-controller="Article" asp-action="Add" asp-route-MId="@ViewBag.Id" class="btn btn-success">
Add
</a>
<table class="table">
    <thead>
        <td>Id</td>
        <td>Title</td>
        <td>Text</td>
        <td>Actions</td>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Title</td>
                <td><p>@x.Text</p></td>
                <td>
                    <a asp-controller="Article" asp-action="Edit" asp-route-id="@x.Id"
                     class="btn btn-info">
                        Edit
                    </a>
                    <a onclick="return(confirm('Are you sure?'))" asp-controller="Article" 
                        asp-action="Delete" asp-route-id="@x.Id"
                        class="btn btn-danger"
                        onclick="return(confirm('Are you sure?'))">
                        Delete                        
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>